body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #36393d;
  background:linear-gradient(90deg,#a4aaec,whitesmoke, whitesmoke,#a4aaec ) ;
}

ul {
  list-style: none;
}

#city-input {
 text-align: center;
 margin-top: 10px;
 padding-top: 15px;
}
.container {
  background: linear-gradient(90deg,#D4D6F1, rgb(236, 231, 231), rgb(236, 231, 231), #D4D6F1);
  border: 3px #BEC2EF solid;
  border-radius: 40px;
  width: 60%;  
}

.second-container{
  margin-left: 20px;
}

.btn-primary{
    background-color: rgb(13, 46, 228);
    border:rgb(13, 46, 228);
    width: 100px;
    transition: all 200ms ease-in-out;
    
}
.btn-primary:hover{
background-color:white;
color: rgb(13, 46, 228);

}

.current-date-row{
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.current-date{
  text-align: right;
  font-size: 20px;
  margin-top: 20px;
}

.description-weather{
  font-size: 25px;
}

#city-element{
  margin-bottom: 0;
  padding-bottom: 0;
}
.description-weather:first-letter {
  text-transform: capitalize;
  
}

.emoji {
  position: relative;
  top: -12px;
  right: -50px;
  padding-bottom: 30px;
  width: 140px;
  height: 170px;
}

.city {
  margin-top: 25px;
  font-size: 80px;
}
.temperature {
  text-align: center;
  
}
.currentTemperature {
  font-size: 80px;
}

.source-link {
  text-align: center;
}

.units {
  position: relative;
  right: -35px;
  top: -100px;
  font-size: 18px;
  font-weight: bold;
}

.active{
  font-size: 22px;
  color: black;
  cursor: default;
}

.active:hover{
  text-decoration: none;
}

.humidity-wind{
   position: relative;
   top: 40px;
   right: 20px;
}

.hours.emoji-per-hour.temperature-max-min{
  padding-bottom: 15px;
}

.text-forecast{
  text-align: center;
  margin-bottom: 0;
}
.forecast-container{
 
  text-align: center;
  margin: 0 120px 15px 120px;
}

.weather-forecast{
   margin-top: 70px;
   
  
}

.forecast-next-hours{
  text-align: center;
}

.hours{
  text-align: right;
}

.emoji-per-hour{
  position: relative;
  top: -20px;
  width: 140px;
  height: 100px;
}

.temperature-max-min{
  text-align: left;
}